/* Scss Document */

@media screen and (max-width: 990px) /*and (min-width: 770px)*/{
	/* contact-info*/
	.nav-top{
		display: none;
	}
	/* sliding buttons*/
	.left,.right{
		top: 40% !important;
		
	}
	/* home slides*/
	#home{
		&>div{
			img{
				height: 60vh;
			}
		}
	}
	/*header*/
	header{
		height: 70px;
		padding: 15px 0;
		box-sizing: border-box;
		.logo{
			
			img{
				width: 40px;
				height: 40px;
			}
			h1{
				font-weight: 400;
			}
		}
		nav{
			
			margin: 0;
			flex-direction: column;
    		position: absolute;
    		top: 10%;
    		right: 1%;
    		z-index: 0;
    		background-color: #fff;
    		align-items: flex-start;
    		width: 220px;
    		height: auto;
    		padding: 30px;
			box-shadow: 0 0 30px rgba(35, 34, 39, 0.1);
			transform: translateY(30px);
			transition: 300ms all,opacity .7s,transform .8s;
			opacity: 0;
				a{
					height: 30px;
					padding: 10px 0 ;
				}
			}
		.btn1{
			display: none;
		}
	}
	/*support*/
	#support{
		ul{
			flex-direction: column;
			li{
			margin-top: 15px;
			margin-bottom: 15px;
		}
		}
		
		
	}
	/*mission (banner) */
	#mission{
		flex-direction: column;
		padding-left: 30px;
		.banner-img{
			width: 100%;
			img{
				width: 90%;
				height: 240px;
				margin: 0;
				margin-right: 100px;
			}
			span{
				left: 20%;
			}
		}
		.banner-info{
			width: 90%;
		}
	}
	/*donation info*/
	#donating-info{
		text-align: center;
	}
	/*causes*/
	#popular-causes{
		&>header{
			h2{
				padding: 0;
				margin: 0;
				
			}
			span{
				margin-top: 30px;
				margin-bottom: -40px;
			}
		}
		ul{
			flex-direction: column;
			li+li{
				margin-left: 30px;
			}
			li{
				max-width: 100%;
				margin-left: 15px !important;
				margin-bottom: 30px;
			}
		}
	}
	/*events*/
	#events{
		&>header{
			h2{
				padding: 0;
				margin: 0;
				
			}
			span{
				margin-top: 30px;
				margin-bottom: -40px;
			}
		}
		.card{
			width: 80%;
			flex-direction: column;
			margin: 40px auto;
			div:nth-of-type(1){
				margin-bottom: 30px;
			}
		}
	}
	/*blog*/
	#blog{
		&>.container>header{
			h2{
				padding: 0;
				margin: 0;
				
			}
			span{
				margin-top: 30px;
				margin-bottom: -40px;
			}
		}
		&>.container>ul{
			flex-direction: column;
			li+li{
				margin-left: 0px;
			}
			li{
				max-width: 100%;
				margin-bottom: 30px;
				width: 80%;
				margin:15px auto !important;
				img{
					width: 100%;
				}
			}
		}
		
		
	}
	/*choose us*/
	#chosse-us{
		flex-direction: column;
		.group-img{
			width: 100%;
			img{
				width: 100%;
			}
		}
		.chosseUs-right{
			width: 100%;
			.chosseUs-info{
				width: 100%;
				text-align: center;
				padding: 10px;
				h2{
					line-height: 48px;
				}
				button.btn1{
					margin: 0 auto;
				}
			}
			
		}
	}
	/*what they say*/
	#say{
		
		.container{
			&>header{
			h2{
				padding: 0;
				margin: 0;
				
			}
			span{
				margin-top: 30px;
				margin-bottom: -40px;
			}
		}
			width: 480px;
			.slider{
				width: 480px;
				.people{
					width: 1920px;
					div{
						width: 450px;
						p{
							width: 100%;
							height: 200px;
						}
					}
				}
			}
		}
	}
	/*footer*/
	footer{
		display: flex;
		flex-direction: column;
		&>.related{
			flex-direction: column;
			div,form{
				margin-bottom: 30px;
			}
			div:nth-of-type(3){
				
			}
		}
		&>.credits{
			display: flex;
			flex-direction: column;
			padding: 0 30px;
			.ownerSocial{
				ul{
					width: 100%;
					float: none;
				}
			}
		}
	}
	/* counter*/
	#counter.container{
		max-width: 100%;
		&>header{
			h2{
				padding: 0;
				margin: 0;
				
			}
			span{
				margin-top: 30px;
				margin-bottom: -40px;
			}
		}
		.numbers{
			@include displayFlex(row,center,center);
			flex-wrap: wrap;
			padding: 0;
			div{
				width: 360px;
				box-sizing: border-box;
				padding: 0 15px;
			
			}
		}
		
	}
}